In [2]:
# 用pandas中的read_csv()函数读取出data1.csv文件中的数据:

import pandas as pd

df = pd.read_csv("data1.csv")
df.head(2)

   year  month  day week  temp_2  temp_1  average  actual  friend
0  2016      1    1  Fri      45      45     45.6      45      29
1  2016      1    2  Sat      44      45     45.7      44      61

In [3]:
# 要删除的列的名称为 "friend" 
#删除指定列
# 参数axis=0，表示对行进行操作，如对列进行操作则更改默认参数为axis=1。

df=df.drop(['friend'],axis=1)

In [4]:
#保存新的csv文件为data2.csv：
# 参数index=False，表示输出不显示index(索引)值。
# 参数encoding=“utf-8”，表示保存的文件编码格式为utf-8。

df.to_csv("data2.csv",index=False,encoding="utf-8")

In [5]:
df = pd.read_csv("data2.csv")
df.head(2)

   year  month  day week  temp_2  temp_1  average  actual
0  2016      1    1  Fri      45      45     45.6      45
1  2016      1    2  Sat      44      45     45.7      44